<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col text-center">
      <img src="assets/parahry-shop-logo-1510337184.jpg" class="img-fluid">
      <div class="mt-5 mb-5">
      <h3>Aplikácia na meranie presnosti lopt</h3>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-center mt-5">
      <mat-card class="mat-elevation-z6 mx-auto">
        <mat-card-title>Prihláste sa prosím</mat-card-title>
        <mat-card-content *ngIf="!emailWasSent">
          <form [formGroup]="loginForm">
            <mat-form-field class="d-block mb-2 mt-4" appearance="outline">
              <input formControlName="email" class="text-center" matInput placeholder="E-mail">
            </mat-form-field>

            <button (click)="loginWithEmail()" class="px-5" mat-raised-button color="primary">Prihlásiť</button>
          </form>
          <hr>
          <button (click)="authService.loginWithGoogle()" class="px-5" mat-raised-button color="warn">Prihlásiť cez Google</button>
        </mat-card-content>

        <mat-card-content *ngIf="emailWasSent">
            <p>Na váš email {{ emailAddress }} sme vám odoslali prihlasovací link. Kliknutím naň dokončíte prihlásenie</p>
            <button (click)="cancelEmailAlert()" class="px-5" mat-raised-button color="primary">Zrušiť</button>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
<p>

</p>

