<div class="menu mat-elevation-z3" *ngIf="showMenu">
  <div class="container px-0 px-md-3">
    <div class="row">
      <div class="col">
        <button mat-button routerLink="/merania"><img src="assets/parahry-shop-logo-1510337184.jpg"
                                                      class="bashto-logo img-fluid">
        </button>
      </div>
      <div class="col d-flex align-items-center justify-content-end pl-0">
        <div class="d-inline-block username">
          {{ userName }}
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button routerLink="/hrac" mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            <span>{{'profile' | translate }}</span>
          </button>
          <button (click)="authService.logOut()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>{{'log_out' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>




