
<div class="row">
  <div class="col">
    <h3>{{'new_ball_group' | translate }}</h3>
  </div>
</div>

<form [formGroup]="newCategoryForm">
  <mat-form-field class="d-block mb-3 mt-4" appearance="outline">
    <input formControlName="name"  matInput placeholder="{{'group_name' | translate }}">
  </mat-form-field>
  <mat-form-field class="d-block" appearance="outline">
    <textarea formControlName="note" matInput placeholder="{{'measurement_note' | translate }}"></textarea>
  </mat-form-field>
  <button (click)="createNewCategory()" class="px-2" mat-raised-button color="primary">Vytvoriť</button>
</form>
