<div class="container">
  <div class="row mt-3 mb-2">
    <div class="col">
      <h4>
        {{ measurement ? measurement.name : '&nbsp;' }}
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mb-2">
      <h6>{{'graphic_output' | translate }}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 order-2 order-md-1">
      <div class="row">
        <div class="col-6 col-md-auto">
          <app-order-data-table [data]="scattering" title="{{'scattering' | translate }}/cm"></app-order-data-table>
        </div>
        <div class="col-6 col-md-auto">
          <app-order-data-table [data]="distances" title="{{'distance' | translate }}/cm"></app-order-data-table>
        </div>
        <div class="col-6 col-md-auto">
          <app-order-data-table [data]="deflection" title="{{'deflection' | translate }}/cm"></app-order-data-table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-accuracy-playground [balls]="balls"></app-accuracy-playground>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2 mb-3">
      <app-real-impact-playground [balls]="balls"></app-real-impact-playground>
    </div>
  </div>
</div>















