<div class="row">
  <div class="col">
    <h3>{{'new_measurement' | translate }}</h3>
  </div>
</div>

<form [formGroup]="newMeasurementForm">
  <mat-form-field class="d-block mb-3 mt-4" appearance="outline">
    <input formControlName="name"  matInput placeholder="{{'measurement_name' | translate }}">
  </mat-form-field>
  <mat-form-field class="d-block" appearance="outline">
    <textarea formControlName="note" matInput placeholder="{{'group_note' | translate }}"></textarea>
  </mat-form-field>
  <button (click)="createNewMeasurement()" class="px-2" mat-raised-button color="primary">{{'create' | translate }}</button>
</form>
