<table>
  <tr>
    <th>{{'ball_name' | translate }}</th>
    <th>{{title}}</th>

  </tr>
  <tr *ngFor="let row of data">
    <td>{{row.ballName}}</td>
    <td>{{row.value}}</td>
  </tr>
  <tr>
    <th>{{'average_red' | translate }}</th>
    <th>{{averageRed | number:'1.0-2'}}</th>
  </tr>
  <tr>
    <th>{{'average_blue' | translate }}</th>
    <th>{{averageBlue | number:'1.0-2'}}</th>
  </tr>
</table>

