table {
  font-size:12px;
  border-collapse: collapse;
  margin-bottom: 1rem;
  //width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2px 4px;
}

th {
  font-weight: bold;
  background-color: #f5f5f5;
}
