<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col">
      <h4>{{'player_info' | translate }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="mb-5" [formGroup]="playerDetailForm">
        <div class="text-center">
          <mat-form-field>
            <mat-label>{{'language' | translate }}</mat-label>
            <mat-select formControlName="language" required (valueChange)="useLanguage($event)">
              <mat-option value="sk">{{ 'slovak' | translate }}</mat-option>
              <mat-option value="en">{{ 'english' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <mat-form-field class="example-full-width">
            <input formControlName="name" required matInput placeholder="{{'name' | translate }}">
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <mat-form-field class="example-full-width">
            <input formControlName="brand" required matInput placeholder="{{'ball_brand' | translate }}">
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <mat-form-field>
            <mat-label>{{'country' | translate }}</mat-label>
            <mat-select formControlName="country" required>
              <mat-option *ngFor="let country of countries" [value]="country.code">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center mt-3">
          <mat-form-field>
            <mat-label>{{'level_of_player' | translate }}</mat-label>
            <mat-select formControlName="level" required>
              <mat-option value="amateur">{{ 'amateur' | translate }}</mat-option>
              <mat-option value="professional">{{ 'professional' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-center mt-3 mb-5">
          <mat-form-field>
            <mat-label>{{'play_from' | translate }}</mat-label>
            <mat-select formControlName="started" required>
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row mr-5 mb-3">
          <div class="col text-right">
            <button routerLink="/merania" mat-raised-button color="primary" (click)="submit()">
              {{'continue' | translate }}
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
