.ball-select-container.has-error {
  border: 2px solid red;
  border-radius: 5px;
}

.selected-ball {
  max-width: 225px;
}
.large-ball {
  max-width: 50%;
}
.small-ball {
  max-width: 7%;
}

.mat-form-field-wrapper {
 padding-bottom: 0 !important;
}

.mat-expansion-panel-body {
  padding: 0;
}

.abcd-input-container {
  border: 1px solid #cccccc;
  &.has-error {
    border-color: red;
  }
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .abcd-label {
    font-weight: 500;
  }
  .abcd-input {
    max-width: 52px;
    border: none;
  }
}

@media (max-width: 800px) {
  .abcd-container {
    b {
      min-height: 37px;
      display: block;
    }
  }
}
