<form [formGroup]="ballForm">
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="row">
        <div class="border-right col-12 col-md-4">
          <div class="ball-select-container"
               [ngClass]="{'has-error': ballForm.controls['type'].touched && !ballForm.controls['type'].valid}">
            <h6 *ngIf="selectedColor == null">{{'select_ball' | translate }}:</h6>
            <ng-container *ngFor="let color of ballTypes">
              <button *ngIf="color !== selectedColor"
                      (click)="selectColor(color)"
                      mat-button
                      class="large-ball"
                      [ngClass]="{'small-ball': selectedColor != null}">
                <img src="assets/{{color}}boccia.jpg" class="img-fluid">
              </button>
            </ng-container>

            <img *ngIf="selectedColor != null" src="assets/{{selectedColor}}boccia.jpg"
                 class="img-fluid selected-ball">
          </div>
          <mat-form-field class="d-block mb-2 mt-0 mx-4" appearance="outline">
            <mat-label>{{'ball_name' | translate }}</mat-label>
            <input formControlName="name" class="text-center" matInput>
          </mat-form-field>
        </div>

        <div class="border-right col-12 col-md-3 px-4">

          <div class="row">
            <div class="col-6 col-md-12 mt-2 mt-md-0 abcd-container" *ngFor="let item of abcd">
              <b class="mb-1">{{ item.description | translate }}</b>
              <div style="margin-bottom: 1rem;">
                <div class="abcd-input-container"
                     [ngClass]="{'has-error': ballForm.controls[item.formControlName].touched && !ballForm.controls[item.formControlName].valid}">
                  <span class="abcd-label">{{ item.label }}:</span>
                  <input formControlName="{{ item.formControlName }}" class="abcd-input"
                         matInput type="number"
                         autocomplete="off"
                         placeholder="...cm">
                </div>
                <mat-error
                  *ngIf="ballForm.controls[item.formControlName].touched && !ballForm.controls[item.formControlName].valid">
                  {{ item.error | translate }}
                </mat-error>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5 px-5">
          <strong class="mb-2 d-block">{{'deflections' | translate }}</strong>
          <div class="row">
            <div class="col-12 col-md-6"
                 formArrayName="distances"
                 *ngFor="let item of ballForm.controls['distances']['controls']; let i = index;">
              <div class="mb-1">
                <div class="abcd-input-container"
                     [ngClass]="{'has-error': ballForm.controls['distances']['controls'][i].touched && !ballForm.controls['distances']['controls'][i].valid}"
                >
                  <span class="abcd-label">{{i + 1}}.</span>
                  <input [formControlName]="i" class="abcd-input" matInput type="number" autocomplete="off"
                         placeholder="...cm">
                </div>
                <mat-error
                  *ngIf="ballForm.controls['distances'].controls[i].touched && !ballForm.controls['distances'].controls[i].valid">
                  {{ 'validator_1_1000'| translate }}
                </mat-error>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button (click)="addDistanceInput()" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
