<div class="row">
  <div class="col">
    <h4>{{'add_new_ball' | translate }}</h4>
  </div>
  <div class="col text-right">
    <button mat-dialog-close mat-icon-button color="warn">&#x2573;</button>
  </div>
</div>

<app-ball-detail-form (ballMeasurementData)="ballMeasurement = $event"
                      (isValid)="isValid = $event"
                      #ballDetailForm
></app-ball-detail-form>

<div class="row">
  <div class="col text-right">
    <button (click)="createNewBall()" mat-raised-button color="primary">{{'save' | translate }}</button>
  </div>
</div>
