<div class="container mb-5">
  <div class="row mt-3 mt-md-5 mb-2 mb-md-5">
    <div class="col">
      <h4>{{'measurement' | translate }}</h4>
    </div>
    <div class="col text-right">
      <button class="close-button" (click)="deleteMeasurement()" mat-icon-button color="warn">&#x2573;</button>
    </div>
  </div>
  <div class="row" *ngIf="measurementDocument != null">
    <div class="col mb-2">
      <h5>{{ measurementDocument.name }}</h5>
      <p>{{ measurementDocument.note }}</p>
    </div>
  </div>
  <div class="row" *ngIf="measurementDocument != null">
    <div class="col">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel *ngFor="let ball of measurementDocument.balls; let i = index"
                             (afterExpand)="expandedBallMeasurementIndex = i"
                             (closed)="unsavedBallChange = {}; expandedBallMeasurementIndex = null"
                             class="my-2">
          <mat-expansion-panel-header>
            <div class="row">
              <div class="col-3 col-md-auto pl-md-0 d-flex align-items-center">
                <img src="assets/{{ball.type}}boccia.jpg" class="ball-picture img-fluid">
              </div>
              <div class="col-9 d-md-none">
                <div><strong>{{ ball.name }}</strong></div>
              </div>
              <div class="col pl-md-0">
                <div class="d-none d-md-block"><strong>{{ ball.name }}</strong></div>
                <div class="row">
                  <div class="col-12 col-md-auto pr-md-0">
                    <span>{{'scattering' | translate }} (cm):
                    <span class="abcd-container"><span class="label">A:</span><span
                      class="value">{{ ball.a }}</span>,</span>
                    <span class="abcd-container"><span class="label">B:</span><span
                      class="value">{{ ball.b }}</span></span>
                  </span>
                  </div>
                  <div class="col-12 col-md-auto pl-md-0">
                      <span class="vertical-divider">
                    {{'deflection' | translate }} (cm):
                    <span class="abcd-container"><span class="label">C:</span><span
                      class="value">{{ ball.c }}</span>,</span>
                  </span>
                    <span class="vertical-divider">
                    {{'distance' | translate }} (cm):
                    <span class="abcd-container"><span class="label">D:</span><span
                      class="value">{{ ball.d }}</span></span>
                  </span>
                  </div>
                  <div class="col-12 col-md-12">
                      <span class="distances">
                    {{'deflections' | translate }}
                        (cm):
                  <span [innerHTML]="formatDistances(ball.distances)"></span>
                        <!--<span class="vertical-divider">
      Rozptyl plochy:
      <span class="value"> {{ball.scatteringArea | number:'1.0-2' }}cm2 </span>
    </span>
                      <span class="vertical-divider">

                        Roztpyl:
                      <span class="value"> {{ ball.scattering | number:'1.0-1' }}cm </span>
                      </span>-->
                </span>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <hr style="color: rgba(0,0,0,.12);">
          <div style="min-height: 270px">
            <app-ball-detail-form *ngIf="expandedBallMeasurementIndex === i"
                                  [ballMeasurementDataInput]="ball"
                                  (isValid)="ballMeasurementDataValid = $event"
                                  (ballMeasurementData)="unsavedBallChange = {data: $event, index: i}"
                                  #ballDetailForm
            ></app-ball-detail-form>
          </div>
          <mat-action-row style="margin-top: 1rem">
            <button mat-button color="warn" (click)="deleteBall(ball)">{{'delete' | translate }}</button>
            <button mat-button color="primary" (click)="saveChanges()">{{'save' | translate }}</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="text-center" *ngIf="measurementDocument.balls == null || measurementDocument.balls.length === 0">
        <p>{{'add_ball' | translate }}</p>
        <div class="pointer" (click)="openBallDialog()">
          <img src="/assets/blueboccia.jpg" class="ball-picture img-fluid">
          <img src="/assets/jackboccia.jpg" class="ball-picture img-fluid">
          <img src="/assets/redboccia.jpg" class="ball-picture img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col text-center">

          <button [routerLink]="'/ihrisko/' + measurementId" mat-raised-button class="mt-5 mb-5" color="warn">
            <mat-icon>bar_chart</mat-icon>
            {{'chart' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="openBallDialog()" mat-raised-button class="new-group-button" color="primary">
  <mat-icon>add</mat-icon>
  {{'add_new_ball' | translate }}
</button>
