.ball-picture {
  max-height: 50px;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 5px !important;
}

mat-expansion-panel-header {
  padding-top: .4rem !important;
  padding-bottom: .4rem !important;
  min-height: 60px !important;
  height: auto !important;
  @media (max-width: 800px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.abcd-container {
  .label {
    color: #aaa;
    margin-right: .25rem;
    margin-left: .35rem;
  }

  .value {
    font-weight: bold;
  }
}

.distances {
  .label {
    color: #aaa;
    margin-right: .25rem;
    margin-left: .35rem;
  }

  .value {
    font-weight: bold;
  }
}

.vertical-divider {
  @media (min-width: 800px) {
    border-left: 1px solid #ccc;
    margin-left: 1rem;
    padding-left: 1rem;
  }
}

.pointer {
  cursor: pointer;
}
