<div class="container mb-5">
  <div class="row mt-3 mt-md-5 mb-2 mb-md-5">
    <div class="col">
      <h4>{{'my_measurements' | translate }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4" *ngFor="let category of categories">
      <mat-card>
        <button class="close-button" (click)="deleteCategory(category)" mat-icon-button color="warn">&#x2573;</button>
        <mat-card-title>
          {{ category.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ category.note }}
        </mat-card-subtitle>
        <mat-card-content>
          <button [routerLink]="'/meranie/' + measurement.id" *ngFor="let measurement of category.measurements"
                  class="measurement-detail-button" mat-button>
            <span>{{ measurement.name }}</span>
            <span>{{ measurement.created && (measurement.created.seconds * 1000 | date:'dd.MM.yyyy')}}
            </span>
          </button>
        </mat-card-content>
        <div class="text-right">
          <button (click)="openNewMeasurementDialog(category.id)" class="new-measurement-button" mat-raised-button
                  color="primary">
            <mat-icon>add</mat-icon>
            {{'new_measurement' | translate }}
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<button (click)="openNewCategoryDialog()" class="new-group-button" mat-raised-button color="primary">
  <mat-icon>add</mat-icon>
  {{'add_new_group' | translate }}
</button>

