@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap';

mat-card {
  border-radius: 12px!important;
}

button:focus {
  outline: none;
}

.measurement-detail-button .mat-button-wrapper {
  display: flex !important;
  justify-content: space-between !important;
}

.mat-tooltip {
  font-size: 12px;
}

.new-group-button {
  position: fixed !important;
  right: 3.5vw;
  bottom: 3.5vw;
}
